* {
    padding: 0;
    margin: 0;
}

.artigo {
    width: 1280px;
    background-color: rgb(200, 200, 200);
    padding: 40px;
    margin: 40px auto;
    text-align: center;
}

.artigo h1 {
    color: #069;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
}

.artigo p {
    color: #b4b4b4;
    text-align: left;
    font-size: 17px;
    font-family: 'tahoma';
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    margin-top: 12px;
}