* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.teste1, .teste2, .teste3 {
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    height: 30px;
    /*background-color: #ccc;*/
}


.teste2 {
    background-color: rgb(98, 98, 98);
}

.teste3 {
    background-color: rgb(50, 50, 50);
}

/*
.teste1:hover {
    height: 900px;
    background-color: blue;
}

.teste1:hover, .teste2, .teste3{
    vertical-align: top;
}
*/

/* Active serve para quando estamos com o mouse pressionado */

/*
.teste1:active {
    background-color: black;
}
*/

/*

Focus serve para quando clicamos e focamos onosso elemento no formulário

.teste1:focus {
    background-color: red;
}

.textarea1 {
    display: block;
    width: 600px;
    height: 400px;
}
*/

/*
.link1:visited {
    color: purple;
}
*/

.link {
    color: green;
}

.linkado:link {
    color: orange;
}